@model MvcMovie.Models.MovieGenreViewModel
@{
    ViewData["Title"] = "Lista książek";
}

<div style="background-color: white; padding: 20px; width: 85%; border-radius: 10px; opacity: 0.95; margin-left: auto; margin-right: auto;">
<h1 style="text-align:center;">Lista książek</h1>

@{
     if(@ViewBag.CurrUser != null)
                        {
                            if(@ViewBag.CurrUser == "admin"){
                                  <p>
                                    <a style="text-decoration: none;" asp-action="Create">Dodaj książkę ➕</a>
                                 </p>
                            }else{
                                
                            }
                        }
                        else
                        {
                        
                        }
}
  

<form style="padding: 15px;" asp-controller="Movies" asp-action="Index" method="">
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

    
            @foreach (var item in Model.Movies!)
            {
              
                    string text = "https://projectpchmag.blob.core.windows.net/projectpchcontainer/book_image_" + item.Id + ".jpg";



                   <div style="display: block; width: 80%; height: 30vh;border: 2px solid black;  margin-left: auto; margin-right: auto; border-bottom-left-radius: 15px; border-top-right-radius: 15px; opacity: 1; padding: 15px;">

                    <div style="width: 30%; float:left; height: 100%">

                        <img class="images" onerror="this.src='https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg'" style="width: 20vh; margin-left: 10%; height: 100%; border: 2px solid black; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="@text" />
                       
                        </div>
                        <div style="width: 35%; float:left; height: 100%; font-size: 25px;">
                            <table>
                                <tr>
                                    <td><h1>Tytuł</h1></td>
                                </tr>
                                <tr>
                                      <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                </tr>
                                
                                 <tr>
                                    <td><h1>Autor</h1></td>
                                </tr>
                                <tr>
                                      <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                                </tr>
                            </table>
                            
                        </div>

                        <div style="width: 30%; float:left; height: 100%; font-size: 22px;">
                            <table>
                                <tr>
                                    <td><h2>Gatunek</h2></td>
                                </tr>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                                </tr>

                               
                                <tr>
                                    <td><h2>Ocena</h2></td>
                                </tr>
                                <tr>
                                <td>
                            @{
                                List<string> links = new List<string>
                                {
                                    "https://upload.wikimedia.org/wikipedia/commons/8/82/Star_rating_0.5_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/d/dd/Star_rating_1_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/a/a7/Star_rating_1.5_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/9/95/Star_rating_2_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/b/bf/Star_rating_2.5_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/2/2f/Star_rating_3_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/e/eb/Star_rating_3.5_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/f/fa/Star_rating_4_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/b/b9/Star_rating_4.5_of_5.png",
                                    "https://upload.wikimedia.org/wikipedia/commons/1/17/Star_rating_5_of_5.png"
                                };

                                switch (item.Rating)
                                {
                                    case "0.5":
                                        <img style="height: 20%; width: 40%;" src="@links[0]" />
                                        break;
                                    case "1":
                                        <img style="height: 20%; width: 40%;" src="@links[1]" />
                                        break;
                                    case "1.5":
                                        <img style="height: 20%; width: 40%;" src="@links[2]" />
                                        break;
                                    case "2":
                                        <img style="height: 20%; width: 40%;" src="@links[3]" />
                                        break;
                                    case "2.5":
                                        <img style="height: 20%; width: 40%;" src="@links[4]" />
                                        break;
                                    case "3":
                                        <img style="height: 20%; width: 40%;" src="@links[5]" />
                                        break;
                                    case "3.5":
                                        <img style="height: 20%; width: 40%;" src="@links[6]" />
                                        break;
                                     case "4":
                                        <img style="height: 20%; width: 40%;" src="@links[7]" />
                                        break;
                                    case "4.5":
                                        <img style="height: 20%; width: 40%;" src="@links[8]" />
                                        break;
                                    case "5":
                                        <img style="height: 20%; width: 40%;" src="@links[9]" />
                                        break;

                                }
                                Console.WriteLine(links[0]);
                            }
                                    
                                    
                                </td>
                                </tr>
                                
                            </table>


                        </div>
                         <div style="width: 5%; float:right; height: 100%; font-size: 25px;">
                            @{
                                if (@ViewBag.CurrUser != null)
                                {
                                    if (@ViewBag.CurrUser == "admin")
                                    {
                            <table>
                                <tr>
                                    <td>
                                        <a style="text-decoration: none;" asp-action="Edit" asp-route-id="@item.Id">✏️</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.Id">🔎</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a style="text-decoration: none;" asp-action="Delete" asp-route-id="@item.Id">❌</a>
                                    </td>
                                </tr>

                            </table>
                                    }
                                    else if (@ViewBag.CurrUser == "user")
                                    {

                            <table>
                                
                                <tr>
                                    <td>
                                        <a style="text-decoration: none;" asp-action="Details" asp-route-id="@item.Id">🔎</a>
                                    </td>
                                </tr>
                              
                            </table>

                                    }
                                    else
                                    {

                                    }
                                }
                                else
                                {

                                }
                            }
                            
                            
                        </div>
                   </div>

                   <br>
                   <hr style="width: 80%; margin-left: auto; margin-right: auto;">
               
            }

     

</div>

